.contact-header {
  background: url("../../images/contact-bg.jpg") center no-repeat;
  background-size: cover;
  background-color: var(--paste);
  background-blend-mode: multiply;
}
.contact-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.contact-form input,
.contact-form textarea {
  margin: 7px;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 7px;
}
