.add-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 3rem;
}
.add-form input,
.add-form textarea {
  margin: 7px;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 7px;
}
.add-form input:not(:last-child) {
  border: 1px solid #ededed;
}
